<div class="header">
  <div class="budget">
    <h2 class="budget__title">Presupuesto Disponible:</h2>
    <p class="budget__value">+ 2,345.64</p>

    <div class="budget-incomes">
      <h3 class="budget-incomes__title">Ingresos</h3>
      <div class="incomes-top-box-right">
        <p class="incomes-top-box-right__value">+ 4,300.00</p>
        <span class="incomes-top-box-right__percentage">&nbsp;</span>
      </div>
    </div>

    <div class="budget-expenses">
      <h3 class="budget-expenses__title">Egresos</h3>
      <div class="expenses-bottom-box-right">
        <p class="expenses-bottom-box-right__value">- 1,954.36</p>
        <span class="expenses-bottom-box-right__percentage">45%</span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="cabecero">
  <div class="presupuesto">
    <div class="presupuesto_titulo">Presupuesto Disponible:</div>

    <div class="presupuesto_valor">+ 2,345.64</div>

    <div class="presupuesto_ingreso limpiarEstilos">
      <div class="presupuesto_ingreso--texto">Ingresos</div>
      <div class="right">
        <div class="presupuesto_ingreso--valor">+ 4,300.00</div>
        <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
      </div>
    </div>

    <div class="presupuesto_egreso limpiarEstilos">
      <div class="presupuesto_egreso--text">Egresos</div>
      <div class="right limpiarEstilos">
        <div class="presupuesto_egreso--valor">- 1,954.36</div>
        <div class="presupuesto_egreso--porcentaje">45%</div>
      </div>
    </div>
  </div>
</div> -->
