<div class="expenses">
  <h2 class="expenses__title">Egresos</h2>

  <div class="expense-card" *ngFor="let expense of expenses">
    <p class="expense-card__description">{{ expense.description }}</p>
    <div class="card-right">
      <p class="card-right__value">
        - {{ expense.value | currency : "ARS" : "$" : "1.2" }}
      </p>
      <p class="card-right__percentage">
        {{ calculatePercentage(expense) | percent }}
      </p>
      <div class="card-right__delete-contain">
        <button
          class="card-right__delete-contain__btn"
          (click)="deleteCard(expense)"
        >
          <i class="ion-ios-close-outline"></i>
        </button>
      </div>
    </div>
  </div>
</div>
